//? === Home ===

@import '../../scss/vars';

.container {
	padding-top: 46px;
}

.herobox {
	width: 100%;
	max-width: 780px;

	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.trans {
	overflow: hidden;

	& > span {
		display: block;
		animation: trans $trans-medium;
	}
}

@keyframes trans {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}
