//? === Loading Page ===

@import '../../scss/vars';
@import '../../scss/fonts';

.wrapper {
	position: fixed;
	inset: 0;
	background-color: $bg-light;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	z-index: 10000;

	overflow: hidden;

	animation: bg $loader-time;

	perspective: 2000px;
}

h2 {
	font-family: 'Monument Extended';
	font-size: calc($size-index * 3);
	white-space: nowrap;
	color: black;
}

.title_1 {
	animation: title_1 $loader-time;
}

.title_2 {
	animation: title_2 $loader-time;
}

.title_3 {
	animation: title_3 $loader-time;
}

.title_4 {
	animation: title_4 $loader-time;
}

.title_5 {
	animation: title_5 $loader-time;
}

.title_6 {
	animation: title_6 $loader-time;
}

.title_3,
.title_4 {
	-webkit-text-stroke: 1px black;
	color: transparent;
}

@keyframes title_1 {
	0% {
		opacity: 1;
	}

	11% {
		opacity: 1;
	}

	12% {
		opacity: 0;
	}

	36% {
		opacity: 0;
	}

	37% {
		opacity: 1;
	}

	49% {
		color: black;
	}

	50% {
		color: white;
	}

	60% {
		transform: translateZ(0);
	}

	100% {
		transform: translateZ(2800px);
		color: white;
	}
}

@keyframes title_2 {
	0% {
		opacity: 1;
	}

	12% {
		opacity: 1;
	}

	13% {
		opacity: 0;
	}

	34% {
		opacity: 0;
	}

	35% {
		opacity: 1;
	}

	43% {
		opacity: 1;
	}

	44% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes title_3 {
	0% {
		opacity: 1;
	}

	15% {
		opacity: 1;
	}

	16% {
		opacity: 0;
	}

	32% {
		opacity: 0;
	}

	33% {
		opacity: 1;
	}

	41% {
		opacity: 1;
	}

	42% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes title_4 {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 1;
	}

	15% {
		opacity: 1;
	}

	16% {
		opacity: 0;
	}

	31% {
		opacity: 0;
	}

	32% {
		opacity: 1;
	}

	41% {
		opacity: 1;
	}

	42% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes title_5 {
	0% {
		opacity: 0;
	}

	2% {
		opacity: 0;
	}

	3% {
		opacity: 1;
	}

	19% {
		opacity: 1;
	}

	20% {
		opacity: 0;
	}

	24% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	37% {
		opacity: 1;
	}

	38% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes title_6 {
	0% {
		opacity: 0;
	}

	4% {
		opacity: 0;
	}

	5% {
		opacity: 1;
	}

	21% {
		opacity: 1;
	}

	22% {
		opacity: 0;
	}

	24% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	36% {
		opacity: 1;
	}

	37% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes bg {
	0% {
		background-color: $bg-light;
	}

	49% {
		background-color: $bg-light;
	}

	50% {
		background-color: black;
	}
	70% {
		background-color: black;
	}

	100% {
		background-color: transparent;
	}
}
