//? === Loading Page ===

@import 'scss/vars';

.wrapper {
	position: fixed;
	inset: 0;
	background-color: $bg-light;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	animation: bg $loader-time;
	perspective: 2000px;

	user-select: none;
	cursor: default;
	overflow: hidden;
}

.text {
	&_1 {
		animation: animation_1 $loader-time;
	}
	&_2 {
		animation: animation_2 $loader-time;
	}
	&_3 {
		animation: animation_3 $loader-time;
	}
	&_4 {
		animation: animation_4 $loader-time;
	}
	&_5 {
		animation: animation_5 $loader-time;
	}
	&_6 {
		animation: animation_6 $loader-time;
	}
}

@keyframes animation_1 {
	0% {
		opacity: 1;
	}

	11% {
		opacity: 1;
	}

	12% {
		opacity: 0;
	}

	36% {
		opacity: 0;
	}

	37% {
		opacity: 1;
	}

	49% {
		color: $black;
	}

	50% {
		color: $bg-light;
	}

	60% {
		transform: translateZ(0);
	}

	100% {
		transform: translateZ(2800px);
		color: $bg-light;
	}
}

@keyframes animation_2 {
	0% {
		opacity: 1;
	}

	12% {
		opacity: 1;
	}

	13% {
		opacity: 0;
	}

	34% {
		opacity: 0;
	}

	35% {
		opacity: 1;
	}

	43% {
		opacity: 1;
	}

	44% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes animation_3 {
	0% {
		opacity: 1;
	}

	15% {
		opacity: 1;
	}

	16% {
		opacity: 0;
	}

	32% {
		opacity: 0;
	}

	33% {
		opacity: 1;
	}

	41% {
		opacity: 1;
	}

	42% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes animation_4 {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 1;
	}

	15% {
		opacity: 1;
	}

	16% {
		opacity: 0;
	}

	31% {
		opacity: 0;
	}

	32% {
		opacity: 1;
	}

	41% {
		opacity: 1;
	}

	42% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes animation_5 {
	0% {
		opacity: 0;
	}

	2% {
		opacity: 0;
	}

	3% {
		opacity: 1;
	}

	19% {
		opacity: 1;
	}

	20% {
		opacity: 0;
	}

	24% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	37% {
		opacity: 1;
	}

	38% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes animation_6 {
	0% {
		opacity: 0;
	}

	4% {
		opacity: 0;
	}

	5% {
		opacity: 1;
	}

	21% {
		opacity: 1;
	}

	22% {
		opacity: 0;
	}

	24% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	36% {
		opacity: 1;
	}

	37% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes bg {
	0% {
		background-color: $bg-light;
	}

	49% {
		background-color: $bg-light;
	}

	50% {
		background-color: $black;
	}
	70% {
		background-color: $black;
	}

	100% {
		background-color: $black;
	}
}
