//? === Header Link ===
@import '../../../scss/vars';

.wrapper {
}

.link {
	font-family: 'Monument Extended', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: $white;

	@include noselect;

	padding: 4px;

	cursor: pointer;

	transition: color $trans-medium;

	&.active {
		color: red;
	}
}
