@import 'scss/normalize';
@import 'scss/fonts';
@import 'scss/vars';

body {
	font-family: 'Univia Pro', sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: $black;
}

h2 {
	font-family: 'Monument Extended', sans-serif;
	font-size: 86px;
	font-weight: 400;
	color: $white;
}

.container {
	max-width: $max-width;
	margin: 0 auto;

	position: relative;
}