//? === Fonts ===

@font-face {
	font-family: 'Monument Extended';
	src: url("../fonts/Monument\ Extended/MonumentExtended-Regular.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: 'Monument Extended';
	src: url("../fonts/Monument\ Extended/MonumentExtended-Ultrabold.otf") format("opentype");
	font-weight: 700;
}