//? === Fonts ===

@font-face {
	font-family: 'Monument Extended';
	src: url('../fonts/Monument\ Extended/MonumentExtended-Regular.otf')
		format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Univia Pro';
	src: url('../fonts/Univia Pro/UniviaPro-Regular.ttf')
			format('truetype'),
		url('../fonts/Univia\ Pro/UniviaPro-Regular.woff')
			format('woff'),
		url('../fonts/Univia\ Pro/UniviaPro-Regular.woff2')
			format('woff2');
	font-weight: 400;
}
