//? === HomePage ===

@import 'scss/vars';

.main {
	@include container;
}



// --- --- --- --- --- --- --- ---
.bigbox {
	width: 100%;
	height: 100vh;

	top: -250px;

	color: gray;

	&:nth-child(odd) {
		background-color: white;
	}
}
